mat-form-field + mat-form-field {
  margin-left: 20px;
}
.unpeu {
  margin-left: 20px;
}
input.example-right-align {
  -moz-appearance: textfield;
}

.deplacer{
  margin-left: 70%;
  color: #C3A617;
  display: inline-flex;
  height: 25px;
  width: 25px;
}

