@import "../home/home.component.scss";

.titre {
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 15px auto;
}
.table_title {
  color: #C3A617;
  background-color: #2b2e33;
  padding: 7px 20px;
  text-transform: uppercase;
  font-weight: 100 !important;
  font-size: 18px;
  border-radius: 4px !important;
  margin-bottom: 15px;
  margin-top: 15px;

}

.deplacer{
  margin-left: 70%;
  color: #C3A617;
  display: inline-flex;
  height: 50px;
  width: 100px;
}
.bttn {
  color: #444;
  background: #C3A617;
}
