<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Classe</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      Classe Content Goes Here
    </div>
    <input class="input is-primary column is-one-quarter" type="text" placeholder="Primary input">

    <div class="level-item">
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="text" placeholder="Find a post">
        </p>
        <p class="control">
          <button class="button">
            Search
          </button>
        </p>
      </div>
    </div>

  </div>

</div>
