:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 100%;
}

mat-drawer {
  background: #0f172a;
 // background: #FFE4B5;
}



img{
  height:200px;
  widht:200px;
  padding-top:10%;

}
.desc{
  margin-top: 75px;
  margin-left: 150px;
}
