<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/static/admin.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">TIJANY BOUTIQUE</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Tableau de Bord
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/commandes">
    <mat-icon>add_shopping_cart</mat-icon> Commandes
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clients">
    <mat-icon>sentiment_satisfied_alt</mat-icon> Clients
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/jellabes">
    <mat-icon>list</mat-icon> Types Jellabes
  </a>
</mat-nav-list>

