<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2"><strong>Profil</strong></div>

  <div class="page__content shadow p-3">
    <div class="page__content-data position-absolute text-center">
    </div>
    <button class="btn btn-primary" (click)="openCommande()">Modifier Profil</button>
  </div>
</div>

<div class="col-md-9 col-lg-offset-1">
  <div class="panel panel-success body">
    <div class="panel-heading titre">Profil Du Restaurant</div>
    <div class="panel-body">
      <p>..NFNNFNFNNFNF.</p>
    </div>

  </div>
</div>


