<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2"><strong>Tableau de Bord</strong></div>
  <div class="page__content shadow p-3">
    <div class="page__content-data position-absolute text-center">
    </div>
    <button mat-raised-button color="primary" (click)="openCommande()" >Nouvelle Commande</button>
    <button class="unpeu"  mat-raised-button color="link" (click)="openClient()">Ajouter un Client</button>
    <button class="unpeu" mat-raised-button color="primary" (click)="commandes()">Voir toutes les Commandes</button>


  </div>

<app-commandes-list></app-commandes-list>
</div>


